* {
  box-sizing: border-box;
}

html {
  font-family: "Carter One", cursive;
  font-family: "Livvic", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: #001a26;
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  width: 25%;
  height: fit-content;
  padding: 1rem 1.5rem;
  /* padding: 2.5rem; */
}

.branding {
  margin: 0 auto;
  padding: 0 1rem;
  border-bottom: 0.5rem solid;
  border-radius: 15px;
  width: fit-content;
  font-family: "Carter One", cursive;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  color: #96afb8;
  text-shadow: 0 0 1.5rem #0b141d;
}

main {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 1rem 1.5rem;
}

.chat-window {
  border-radius: 5px;
  border-color: #2c6675;
  max-width: 74%;
  flex-basis: 75%;

  height: 80vh;
}

.messages {
  border-radius: 5px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/jeremy-bishop-uAfZBP-GtiA-unsplash-min.jpg");
  background-size: cover;
  background-position: center;
  height: 91%;
  margin-bottom: 0.5rem;
  overflow: auto;
  padding: 0.5rem 0;
  box-shadow: 0 0 3rem #000;
}

.messages::-webkit-scrollbar {
  background: #001a26;
  width: 1rem;
}
.messages::-webkit-scrollbar-thumb {
  background: #123;
}

.messages-panel {
  height: 8%;
}

#messages-form {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
}
.messages-panel textarea {
  flex-basis: 80%;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.75rem;
  border-color: transparent;
  color: #bad3db;
  letter-spacing: 0.1rem;
  background: #37474e;
  resize: none;
  box-shadow: 0 0 2rem #000;
}

.messages-panel textarea:focus {
  outline: none;
}
.messages-panel textarea::-webkit-scrollbar {
  display: none;
}
.messages-panel textarea::placeholder {
  color: #bad3db;
}

.messages-panel button {
  border-color: transparent;
  border-radius: 15px;
  flex-basis: 20%;
  cursor: pointer;
  background: #202b30;
  box-shadow: 0 0 2rem #000;

  color: #96afb8;
  font-size: 1.75rem;
}

.message-body {
  display: flex;
  margin-bottom: 0.5rem;
}

.username {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: #c5c0c0;
}
.message-text {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.1rem;
  max-width: 50%;
  word-wrap: break-word;
  word-break: normal;
  background: #2d6f76;
  background: #035048;
  color: #e2e2e2;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0 10px 10px 10px;
}
.send {
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 10px 0 10px 10px;
  background: #693841;
}
.time {
  position: relative;
  top: 0.25rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  /* margin-top: 2rem; */
}

.admin-message {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 0.5rem 2rem;
  padding: 0.5rem 1.5rem;
  color: #96afb8;
  word-break: normal;
  font-size: 1.35rem;
}

.sidebar {
  flex-basis: 25%;
  height: 80vh;
  background: #334a5138;
  box-shadow: 0 0 3rem #000;
  border-radius: 5px;
}
.sidebar h3 {
  margin: 0;
  color: #96afb8;
  font-size: 2rem;
  margin: 0.75rem;
  text-align: center;
  background: #334a5175;
  box-shadow: 0 0 2rem rgb(26, 25, 25);
  border-radius: 5px;
  padding: 0.5rem 0;
}
.members {
  padding: 1rem;
  list-style-image: url("../img/tv-solid.svg");
}

.member-name::marker {
  font-size: 4rem;
}
.member-name {
  /* margin: 0; */
  margin-left: 1rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  color: #96afb8;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 1rem 0;
  }
  .sidebar {
    display: none;
  }
  header {
    width: 100%;
  }
  .branding {
    margin: 0 auto;
  }
  .chat-window {
    flex-basis: 100%;
    max-width: 100%;
  }
}
